<!DOCTYPE html>
<html>
<head>
    <title>Student Data</title>
</head>
<body>
    <h1>Student Data</h1>
    <table>
        <thead>
            <tr>
                <th>Roll No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Branch</th>
                <th>Section</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student['rollno'] }}</td>
                    <td>{{ student['name'] }}</td>
                    <td>{{ student['email'] }}</td>
                    <td>{{ student['branch'] }}</td>
                    <td>{{ student['section'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
