body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #555;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #333;
}

form {
  margin: 0 auto;
  max-width: 500px;
  background-color: #e1d5d5;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin-bottom: 150px;
}

form:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-size: large;
  color: #3c3b3b;
  font-weight: 400;
  
}

select,
input[type="text"],
input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
  background-color: #f5f5f5;
  transition: all 0.3s ease-in-out;
}

select:hover,
input[type="text"]:hover,
input[type="submit"]:hover {
  border-color: #aaa;
  background-color: #eee;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #555;
}

table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  font-weight: normal;
  color: #555;
}

table tr:hover {
  background-color: #f5f5f5;
}


input,
textarea,
select {
  transition: all 0.2s ease-in-out;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

::-webkit-input-placeholder {
  
  color: #ccc;
}

:-moz-placeholder {
  
  color: #ccc;
  opacity: 1;
}

::-moz-placeholder {
  
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder {
  
  color: #ccc;
} 

.image{
    size: 500px;
    width: 40px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


.fa:hover {
  opacity: 0.7;
}




.fa-facebook {
    width: 70px;
  background: #3B5998;
  color: white;
}


.fa-instagram {
    width: 70px;
  background: #ff02ff;
  color: white;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f5f5f5;
    background-image: url('../static/black.jpeg');
    
    background-size: cover;
    background-repeat: no-repeat;
}

#text-type
{
    
    color: whitesmoke;
    font-size: 50px;
    background-color: transparent;



text-shadow: 1px 1px 1px black;

}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.logo{
    align-self: flex-start;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #555;
}

main {
    color:#c7fcf4;
    font-size: large;
    width: 96vw;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-style: hidden;
    box-shadow: 0 0 100px #3b3b3b;
    background-image: url('../static/cool-background1.png');
}
.main1 {
    color: #c7fcf4;
    width: 96vw;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-style: hidden;
    box-shadow: 0 0 100px #3b3b3b;
    background-image: url('../static/cool-background1.png');
}
.main2 {
    align-self: flex-end;
    color: #c7fcf4;
    width: 96vw;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-style: hidden;
    box-shadow: 0 0 100px #3b3b3b;
    background-image: url('../static/cool-background1.png');
}

button {
    padding: 10px;
    background-color: whitesmoke;
    color: #151414;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #cedaff;
    color: #fff;
    padding: 20px;
    text-align: center;
}
 
.dropbtn {

color: 151414;
padding: 16px;
font-size: 16px;
border: none;
}


.dropdown {
position: relative;
display: inline-block;
}


.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}


.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}


.dropdown-content a:hover {background-color: #75f3e0;}


.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: #555;} 

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
position: sticky;
top: 0;

margin: 0%;
display: flex;
flex-direction: row;
justify-content: space-between;

padding: 10px;
padding-right: 0%;
background-color: transparent;
color: azure;
z-index: 1;
}
li{
display: inline;
padding: 10px 0px 10px 10px;
font-size: large;
padding-right: 0%;
border: 10px;
}

img{
justify-content: center;
margin: 5% 0%;
height: 60px;

}
.container .links{
width: 34vw;
align-self: center;
margin-left: 30%;
}
.link a{
background-color: whitesmoke;
color: #151414;
padding: 16px;
font-size: 16px;
border: none;text-underline-offset: none;
text-decoration: none;
border-radius: 5px;
}
.link a:hover{
background-color: #555;
}

footer {
background-color: #cedaff;
color: #fff;
padding: 10px 0;
}

footer p {
font-size: 18px;
line-height: 1.5;
margin-bottom: 20px;
}
footer .contact{
color: #3b3b3b;
}


